{%  extends 'base.html' %}
{% load static %}

{% block title %} Upload a new game {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
    <br><br><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Upload a new game</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn btn-success btn-glow-success">Save</button>
                            <a href="{% url 'store' %}" class="btn btn btn-danger btn-glow-danger ml-5">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}