{% extends 'base.html' %}
{% load static %}

{% block title %} Delete - {{ game }} {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Delete - {{ game }}</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body text-center">
                            <h2>Are you sure you want to delete {{ game }}?</h2>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success btn-glow-success">Yes</button>
                            <a href="{% url 'library' %}" class="btn btn-danger btn-glow-danger ml-5">No</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}