{% extends 'base.html' %}

{% block title %} Upload a new game {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if all_games %}
        <table class="table">
            <thead>
            <th>No.</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Developer</th>
            <th>Release Date</th>
            <th>Price</th>
            <th>Active</th>
            <th>Actions</th>
            </thead>
            <tbody>
            {% for game in all_games %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ game.title }}</td>
                    <td>{{ game.genre }}</td>
                    <td>{{ game.developer }}</td>
                    <td>{{ game.release_date|date:"d-m-Y" }}</td>
                    <td>{{ game.price }}</td>
                    <td>
                        {% if game.active %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-success dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                More Actions
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       href="{% url 'update-game' game.id %}">Update</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="{% url 'delete-game' game.id %}">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3 class="text-center">No Games</h3>
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}