{% extends 'base.html' %}
{% load static %}

{% block title %} Store {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


    {#    <div class="d-flex align-items-center justify-content-center vh-100">#}
    <div class="row row-cols-md-5 g-4 offset-1">

        {% for game in all_games %}

            <div class="col">
                <div class="card border-info mb-3 card text-bg-dark mb-3 h-100" style="width: 25rem;">
                    {% if game.image %}
                        <img src="{{ game.image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ game.title }}</h5>
                        <p class="card-text">{{ game.description }}</p>
                        <p class="card-text">Developer: {{ game.developer }}</p>
                        <p class="card-text">Genre: {{ game.genre }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="left-side">
                            <p class="card-text">Price: {{ game.price }} €</p>
                        </div>
                        <div class="right-side">
                            <a href="{% url 'purchase_game' game.id %}" class="btn btn-primary align-items-center">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
    {#    </div>#}

{% endblock %}