{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

</head>

<body>
<div class="sidebar">

    <div class="logo">
        <img src="{% static 'logo.png' %}" alt="Logo">
    </div>

    <br><br><br>

    <ul>
        <li>
            <a href="{% url 'home_page' %}" data-toggle="tooltip" data-placement="right">
                <i class="fa fa-home glow" aria-hidden="true"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            {% if user.is_authenticated %}
                <a href="{% url 'store' %}" data-toggle="tooltip" data-placement="right">
            {% else %}
                <a href="{% url 'login' %}" data-toggle="tooltip" data-placement="right">
            {% endif %}
                <i class="fa fa-shopping-cart glow" aria-hidden="true"></i>
                <span>Store</span>
                </a>
        </li>
        {% if perms.game.add_game or perms.game.view_game or perms.game.change_game or perms.game.delete_game %}
            <li>
                <a href="{% url 'create-game' %}" data-toggle="tooltip" data-placement="right">
                    <i class="fas fa-upload glow"></i>
                    <span>Upload</span>
                </a>
            </li>
        {% endif %}
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'library' %}" data-toggle="tooltip" data-placement="right">
                    <i class="fa fa-list glow" aria-hidden="true"></i>
                    <span>Library</span>
                </a>
            </li>
        {% endif %}
        <li class="last-button">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" data-toggle="tooltip" data-placement="right">
                    <i class="fa fa-user-circle glow" aria-hidden="true"></i>
                    <span>{{ user.username }}</span>
                </a>
            {% else %}
                <a href="{% url 'login' %}" data-toggle="tooltip" data-placement="right">
                    <i class="fa fa-user-circle glow" aria-hidden="true"></i>
                </a>
            {% endif %}
        </li>
    </ul>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

</body>
</html>
